##  Data Wrangling<a id='1_Data_Wrangling'></a>

## 1.1 Contents<a id='1.1_Contents'></a>

* [1 Data wrangling](#1_Data_Wrangling)
  * [1.1 Contents](#1.1_Contents)
  * [1.2 Introduction](#1.2_Introduction)
  * [1.3 Objectives](#1.3_Objectives)
  * [1.4 Imports](#1.4_Imports)
  * [1.5 Load New York Housing Data](#1.5_Newyork_Housing_Data)
  * [1.6 Explore and Clean The Data](#1.6_Explore_and_Clean_The_Data)
    * [1.6.1 Dropping Columns](#1.6.1_Dropping_Columns)
    * [1.6.2 Drop Rows With No Price Data](#1.6.2_Drop_Rows_With_No_Price_Data)
    * [1.6.3 Anomalies](#1.6.3_Anomalies)
    * [1.6.4 Number Of Missing Values By Column](#1.6.4_Number_Of_Missing_Values_By_Column)
    * [1.6.5 Relabeling of Columns](#1.6.5_Relabel_Columns)
      * [1.6.5.1 Fixing Datatypes of Columns](#1.6.5.1_Fixing_Datatypes_of_columns)
      * [1.6.5.2 Reverse Geolocator](#1.6.5.2_Reverse_Geolocator)
    * [1.6.6 Distribution](#1.6.6_Distribution)
      * [1.6.6.1 Number of distinct neighborhoods](#1.6.6.1_Number_of_distinct_neighborhoods)
      * [1.6.6.2 Distribution Of Housing Price By Borough](#1.6.6.2_Distribution_Of_Housing_Price_By_Borough)
  * [1.7 Neighborhood Statistics](#1.7_Neighborhood_Statistics)
  * [1.8 Save data](#1.8_Save_data)
  * [1.9 Summary](#1.9_Summary)

## 1.2 Introduction<a id='1.2_Introduction and Problem'></a>

Capital Fortune is a midwest real estate company who is looking to invest in the ever-growing NYC market and have bought a significant amount of land in NY which they have start to build many houses that will be finished 2024. These houses will be from single-family homes to multi-family homes. They are seeking help from us to estimate the best pricing for their houses as well as what type of housing equates to the highest net-profit.

## 1.3 Objectives<a id='1.3_Objectives'></a>

Our objective will be to give the best house estimates for Capital Fortune houses which are comparable to other houses in the NYC area, as well as determine which house type yield the highest profit. I will be analyzing similar build houses as well as how those houses price are affected via location and build. In order to achieve our goal we will be using Zillow's Housing dataset which has records upto 01/20/2021

## 1.4 Imports<a id='1.4_Imports'></a>

In [3]:
#Lets get our imports
import pandas as pd
import seaborn as sns
import statistics as stat
import numpy as np
import matplotlib.pyplot as plt
import re
import requests
import matplotlib.ticker as tick
import random

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from collections import Counter

## 1.5 Load New York Housing Data<a id='1.5_Newyork_Housing_Data'></a>

In [4]:
#The nyc data by zillow is a large dataset with over 75k Observation and 1507 variables
#While I wanted to load it in chunks I notice this would hamper the initial data cleaning process
#As there are lot of missing values and irrevelant columns so I load all of it at once so I can immediately 
#drop unnecessary and missing data

uncleaned_df = pd.read_csv('../data/newyork_housing.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,5,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,305,313,320,322,323,340,342,343,360,362,363,369,371,372,391,400,402,403,409,411,412,420,422,423,429,431,432,440,442,443,449,451,452,460,462,463,469,471,472,480,482,483,489,491,492,500,502,503,509,511,512,520,522,523,529,531,532,540,541,542,548,550,551,555,556,559,561,562,563,564,568,570,571,572,573,575,576,579,581,582,583,584,588,590,591,592,593,595,596,599,601,602,603,604,608,610,611,612,613,615,616,619,620,621,622,623,627,629,630,631,632,634,635,638,640,641,642,643,647,649,650,651,652,654,655,658,659,660,661,662,666,668,669,670,671,673,674,677,678,679,680,681,685,687,688,689,690,692,693,696,697,698,699,700,704,705,706,707,708,710,711,714,715,716,717,718,722,723,724,725,726,728,729,732,734,735,736,737,741,743,744,745,746,748,749,752,753,754,755,756,760,762,763,764,765,767,768,771,772,773,774,775,779,780,781,782,783,785,786,789,790,791,792,793,797,798,799,800,801,803,804,807,808,809,810,811,815,816,818,819,822,823,824,825,826,830,831,832,833,834,836,837,840,841,845,846,848,849,852,853,857,858,861,863,864,865,874,875,876,877,878,879,880,881,884,885,886,887,889,890,891,892,893,894,895,896,897,898,899,900,901,903,909,918,919,920,921,922,923,933,934,935,936,938,939,940,941,942,943,944,948,951,952,953,954,955,958,959,960,961,962,965,966,967,969,971,972,973,974,975,976,983,984,985,986,987,988,989,990,991,992,994,999,1000,1001,1002,1003,1004,1005,1007,1008,1009,1010,1015,1017,1018,1020,1021,1022,1023,1026,1027,1028,1029,1030,1031,1033,1034,1035,1037,1041,1042,1045,1053,1054,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1073,1076,1077,1078,1079,1083,1085,1124,1128,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1212,1213,1214,1216,1217,1218,1219,1220,1221,1222,1224,1225,1226,1228,1230,1232,1234,1235,1236,1238,1240,1242,1244,1245,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1276,1278,1280,1281,1287,1288,1289,1290,1291,1292,1294,1295,1296,1297,1345,1353,1361,1369,1377,1385,1393,1401,1409,1412,1413,1414,1417,1418,1420,1421,1427,1429,1430,1431,1432,1433,1434,1435,1436,1438,1439,1442,1443,1444,1445,1446,1447,1450,1451,1452,1453,1454,1455,1456,1458,1459,1460,1461,1465,1466,1471,1483,1495) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## 1.6 Explore and Clean The Data<a id='1.6_Explore_and_Clean_The_Data'></a>

In [5]:
#Lets see what we're working with.
uncleaned_df.info()
#Looks like there are 75630 observations and 1507 columns, thats a lot of features we going to have to shrink that.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75630 entries, 0 to 75629
Columns: 1507 entries, address/city to zpid
dtypes: bool(13), float64(440), int64(2), object(1052)
memory usage: 863.0+ MB

In [6]:
#Let's take a peek at what our dataframe looks like
uncleaned_df.head()
#Right off the bat we see a lot of missing data and some columns which are similar like address

,address/city,address/community,address/neighborhood,address/state,address/streetAddress,address/subdivision,address/zipcode,bathrooms,bedrooms,currency,...,schools/2/link,schools/2/name,schools/2/rating,schools/2/size,schools/2/studentsPerTeacher,schools/2/totalCount,schools/2/type,url,yearBuilt,zpid
0,New York,NaN,NaN,NY,60 Terrace View Ave,NaN,10463.0,2.0,5.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/60-Terrace-...,1920.0,3.155405e+07
1,Bronx,NaN,NaN,NY,625 W 246th St,NaN,10471.0,8.0,8.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/625-W-246th...,1940.0,2.985412e+07
2,Bronx,NaN,NaN,NY,716 W 231st St,NaN,10463.0,3.0,4.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/716-W-231st...,1920.0,2.985186e+07
3,Bronx,NaN,NaN,NY,750 W 232nd St,NaN,10463.0,6.0,5.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/750-W-232nd...,1950.0,2.985186e+07
4,Bronx,NaN,NaN,NY,632 W 230th St,NaN,10463.0,6.0,5.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/632-W-230th...,2020.0,2.077107e+09

### 1.6.1 Dropping Columns<a id='1.6.1_Dropping_Columns'></a>

In [7]:
#It seems there are columns such as photos which are irrelevant for data analysis lets drop all columns with photo tagline
uncleaned_df = uncleaned_df.drop(uncleaned_df.filter(like='photos',axis=1).columns,axis=1)

In [8]:
sum(uncleaned_df['priceHistory'] == np.nan)
#We can see the priceHistory column is useless it all missing data lets drop this column
#I am going to have to drop a lot of columns which serve no purpose similar to priceHistory

0

In [9]:
#Most of the columns are a history of price change but we won't be needing this for our problem so we will be ridding ourselfs
#of all columns with priceHistory
uncleaned_df = uncleaned_df.drop(uncleaned_df.filter(like='priceHistory',axis=1).columns,axis=1)
#Lets look at our new df
uncleaned_df.head()

,address/city,address/community,address/neighborhood,address/state,address/streetAddress,address/subdivision,address/zipcode,bathrooms,bedrooms,currency,...,schools/2/link,schools/2/name,schools/2/rating,schools/2/size,schools/2/studentsPerTeacher,schools/2/totalCount,schools/2/type,url,yearBuilt,zpid
0,New York,NaN,NaN,NY,60 Terrace View Ave,NaN,10463.0,2.0,5.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/60-Terrace-...,1920.0,3.155405e+07
1,Bronx,NaN,NaN,NY,625 W 246th St,NaN,10471.0,8.0,8.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/625-W-246th...,1940.0,2.985412e+07
2,Bronx,NaN,NaN,NY,716 W 231st St,NaN,10463.0,3.0,4.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/716-W-231st...,1920.0,2.985186e+07
3,Bronx,NaN,NaN,NY,750 W 232nd St,NaN,10463.0,6.0,5.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/750-W-232nd...,1950.0,2.985186e+07
4,Bronx,NaN,NaN,NY,632 W 230th St,NaN,10463.0,6.0,5.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/632-W-230th...,2020.0,2.077107e+09

In [10]:
#There are over 1500 variables and reso seems have a lot, so lets drop all reso columns if they have more than 50% missinig data
reso_drop_list = [] 
for i in uncleaned_df.columns:
    if 'reso' in i:
        reso_drop_list.append(i)
        
len(reso_drop_list)

606

In [11]:
#After some tedious work on seeing which reso columns has reliable data as most were missing and irrelevant these 
#were the columns left that seem relevant but there will be further cleaning.
reso_list = ['resoFactsStats/atAGlanceFacts/0/factValue', 'resoFactsStats/atAGlanceFacts/1/factValue', 
            'resoFactsStats/atAGlanceFacts/3/factLabel','resoFactsStats/atAGlanceFacts/4/factLabel', 'resoFactsStats/atAGlanceFacts/4/factValue',
            'resoFactsStats/atAGlanceFacts/7/factLabel','resoFactsStats/atAGlanceFacts/7/factValue', 'resoFactsStats/basement', 'resoFactsStats/bathrooms', 'resoFactsStats/bathroomsFull', 
            'resoFactsStats/bathroomsHalf', 'resoFactsStats/bedrooms', 'resoFactsStats/cityRegion',
            'resoFactsStats/hasCooling', 'resoFactsStats/hasFireplace', 'resoFactsStats/hasHeating', 'resoFactsStats/hasSpa',
            'resoFactsStats/homeType', 'resoFactsStats/livingArea', 'resoFactsStats/lotSize', 'resoFactsStats/parkingFeatures/0',
            'resoFactsStats/parkingFeatures/1', 'resoFactsStats/stories', 'resoFactsStats/taxAnnualAmount', 'resoFactsStats/taxAssessedValue',
             'resoFactsStats/yearBuilt']

In [12]:
reso_drop = [x for x in reso_drop_list if x not in reso_list]
#Making a new dataframe of only reso_list so I can drop all reso columns and re-merge with the reso columns
#we want
#Drop all columns with reso
uncleaned_df = uncleaned_df.drop(reso_drop,axis=1)

In [13]:
#Lets re-evaluate our variables and which variables has more than 50% missing data 
missing_data_cols  = []
for i in uncleaned_df.columns:
    if uncleaned_df[i].isnull().sum() >= 37500:
        missing_data_cols.append(i)
    else:
        continue

In [14]:
missing_data_cols

['address/community',
 'address/neighborhood',
 'address/subdivision',
 'dateposted',
 'resoFactsStats/atAGlanceFacts/7/factLabel',
 'resoFactsStats/atAGlanceFacts/7/factValue',
 'resoFactsStats/basement',
 'resoFactsStats/hasFireplace',
 'resoFactsStats/parkingFeatures/1',
 'schools',
 'schools/0/assigned',
 'schools/1/assigned',
 'schools/2/assigned']

In [15]:
#On the surface i see a alot of NaN for schools lets check
uncleaned_df['schools'].isnull().sum()
#Useless col we can drop

75630

In [16]:
#It seems our dataset gives us schools at each level elementary, middle and high schools
school_drop = ['schools', 'schools/0/assigned', 'schools/0/link', 'schools/0/totalCount', 'schools/1/assigned'
              , 'schools/1/link' ]
#Also all columns with schools/2 are NaN so lets drop using a filter

In [17]:
uncleaned_df = uncleaned_df.drop(uncleaned_df.filter(like='schools/2',axis=1).columns,axis=1)

In [18]:
uncleaned_df = uncleaned_df.drop(school_drop,axis=1)

In [19]:
#Lets look into the address/community and address/neighborhood on surface I see a alot of NaN
uncleaned_df['address/community'].isnull().sum()
#Looks like they are all NaN so we can drop

75630

In [20]:
uncleaned_df['address/neighborhood'].isnull().sum()
#Most observation is missing we can drop as we can use address/city plus zipcode to identify the area

74953

In [21]:
uncleaned_df['address/zipcode'].isnull().sum()
#We will keep this col

19

In [22]:
#While school is a big variable into prices of house in a neighborhood there are too many inconsistencies and variability to use
#use the school data points in this dataset
uncleaned_df = uncleaned_df.drop(uncleaned_df.filter(like='school', axis=1), axis=1)

In [23]:
uncleaned_df['address/subdivision'].isnull().sum()
#Drop

75628

In [24]:
uncleaned_df['resoFactsStats/basement'].isnull().sum()
#A lot missing but important factor in price of houses lets keep this

48534

In [25]:
#Lets check if bathrooms and resoFacts/bathrooms are the same if so lets drop one
print((uncleaned_df['bathrooms'] != uncleaned_df['resoFactsStats/bathrooms']).sum())
#Hmm thats weird 20k of oberservation have different values lets see if there are NaN
print(uncleaned_df['bathrooms'].isnull().sum())
print(uncleaned_df['resoFactsStats/bathrooms'].isnull().sum())
#We can see that resoFactsbathrooms has less missing values than  bathrooms col so lets drop bathrooms

20298
19053
15312

In [26]:
uncleaned_df[uncleaned_df['bathrooms'].isnull()]

,address/city,address/community,address/neighborhood,address/state,address/streetAddress,address/subdivision,address/zipcode,bathrooms,bedrooms,currency,...,resoFactsStats/lotSize,resoFactsStats/parkingFeatures/0,resoFactsStats/parkingFeatures/1,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue,resoFactsStats/yearBuilt,url,yearBuilt,zpid
54,New York,NaN,NaN,NY,52 Marble Hill Ave,NaN,10463.0,NaN,NaN,USD,...,"2,975 sqft",NaN,NaN,2.0,5858.0,621000.0,1925.0,https://www.zillow.com/homedetails/52-Marble-H...,1925.0,31554158.0
55,Bronx,NaN,NaN,NY,539 W 232nd St,NaN,10463.0,NaN,NaN,USD,...,"4,693 sqft",NaN,NaN,2.0,17354.0,518400.0,1927.0,https://www.zillow.com/homedetails/539-W-232nd...,1927.0,320226945.0
58,New york,NaN,NaN,NY,Terrace View Ave,NaN,10463.0,NaN,NaN,USD,...,"3,804 sqft",NaN,NaN,NaN,22807.0,481000.0,NaN,https://www.zillow.com/homedetails/Terrace-Vie...,NaN,97545375.0
63,New York,NaN,NaN,NY,12 Fort Charles Pl,NaN,10463.0,NaN,NaN,USD,...,"5,167 sqft",NaN,NaN,2.0,6832.0,1065000.0,1901.0,https://www.zillow.com/homedetails/12-Fort-Cha...,1901.0,31554137.0
67,Bronx,NaN,NaN,NY,15-17 Fort Charles Pl,NaN,10463.0,NaN,NaN,USD,...,"3,120 sqft",NaN,NaN,3.0,7573.0,859000.0,1899.0,https://www.zillow.com/homedetails/15-17-Fort-...,1899.0,31554135.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75608,Flushing,NaN,NaN,NY,7214 Burns Ave,NaN,11375.0,NaN,NaN,USD,...,0.69 Acres,Garage,Garage - Attached,6.0,167266.0,4463000.0,1930.0,https://www.zillow.com/homedetails/7214-Burns-...,1930.0,32005024.0
75614,Flushing,NaN,NaN,NY,7137 Kessel St,NaN,11375.0,NaN,NaN,USD,...,"3,300 sqft",Garage,Garage - Attached,2.0,9305.0,1549000.0,1925.0,https://www.zillow.com/homedetails/7137-Kessel...,1925.0,32004448.0
75615,Flushing,NaN,NaN,NY,8942 70th Rd,NaN,11375.0,NaN,NaN,USD,...,"2,400 sqft",Garage,Garage - Attached,2.0,6588.0,846000.0,1935.0,https://www.zillow.com/homedetails/8942-70th-R...,1935.0,32020098.0
75624,Flushing,NaN,NaN,NY,7033 Manse St,NaN,11375.0,NaN,1.0,USD,...,"4,000 sqft",Garage,Garage - Attached,2.0,9957.0,1469000.0,1930.0,https://www.zillow.com/homedetails/7033-Manse-...,1930.0,32004008.0
75628,Flushing,NaN,NaN,NY,8913 70th Ave,NaN,11375.0,NaN,NaN,USD,...,"2,367 sqft",Garage,Garage - Attached,2.0,4979.0,783000.0,1930.0,https://www.zillow.com/homedetails/8913-70th-A...,1930.0,32020004.0

In [27]:
uncleaned_df[uncleaned_df['resoFactsStats/bathrooms'].isnull()]

,address/city,address/community,address/neighborhood,address/state,address/streetAddress,address/subdivision,address/zipcode,bathrooms,bedrooms,currency,...,resoFactsStats/lotSize,resoFactsStats/parkingFeatures/0,resoFactsStats/parkingFeatures/1,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue,resoFactsStats/yearBuilt,url,yearBuilt,zpid
54,New York,NaN,NaN,NY,52 Marble Hill Ave,NaN,10463.0,NaN,NaN,USD,...,"2,975 sqft",NaN,NaN,2.0,5858.0,621000.0,1925.0,https://www.zillow.com/homedetails/52-Marble-H...,1925.0,31554158.0
58,New york,NaN,NaN,NY,Terrace View Ave,NaN,10463.0,NaN,NaN,USD,...,"3,804 sqft",NaN,NaN,NaN,22807.0,481000.0,NaN,https://www.zillow.com/homedetails/Terrace-Vie...,NaN,97545375.0
63,New York,NaN,NaN,NY,12 Fort Charles Pl,NaN,10463.0,NaN,NaN,USD,...,"5,167 sqft",NaN,NaN,2.0,6832.0,1065000.0,1901.0,https://www.zillow.com/homedetails/12-Fort-Cha...,1901.0,31554137.0
67,Bronx,NaN,NaN,NY,15-17 Fort Charles Pl,NaN,10463.0,NaN,NaN,USD,...,"3,120 sqft",NaN,NaN,3.0,7573.0,859000.0,1899.0,https://www.zillow.com/homedetails/15-17-Fort-...,1899.0,31554135.0
78,New York,NaN,NaN,NY,244-252 Seaman Ave,NaN,10034.0,NaN,NaN,USD,...,"10,000 sqft",NaN,NaN,10.0,286261.0,7502000.0,1966.0,https://www.zillow.com/homedetails/244-252-Sea...,1966.0,31554355.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75603,Forest Hills,NaN,NaN,NY,191 Ingram St,NaN,11375.0,NaN,NaN,USD,...,0.27 Acres,NaN,NaN,2.0,32057.0,3130000.0,1935.0,https://www.zillow.com/homedetails/191-Ingram-...,1935.0,32004952.0
75608,Flushing,NaN,NaN,NY,7214 Burns Ave,NaN,11375.0,NaN,NaN,USD,...,0.69 Acres,Garage,Garage - Attached,6.0,167266.0,4463000.0,1930.0,https://www.zillow.com/homedetails/7214-Burns-...,1930.0,32005024.0
75614,Flushing,NaN,NaN,NY,7137 Kessel St,NaN,11375.0,NaN,NaN,USD,...,"3,300 sqft",Garage,Garage - Attached,2.0,9305.0,1549000.0,1925.0,https://www.zillow.com/homedetails/7137-Kessel...,1925.0,32004448.0
75615,Flushing,NaN,NaN,NY,8942 70th Rd,NaN,11375.0,NaN,NaN,USD,...,"2,400 sqft",Garage,Garage - Attached,2.0,6588.0,846000.0,1935.0,https://www.zillow.com/homedetails/8942-70th-R...,1935.0,32020098.0
75628,Flushing,NaN,NaN,NY,8913 70th Ave,NaN,11375.0,NaN,NaN,USD,...,"2,367 sqft",Garage,Garage - Attached,2.0,4979.0,783000.0,1930.0,https://www.zillow.com/homedetails/8913-70th-A...,1930.0,32020004.0

In [28]:
#Lets fill in the NA's of bathrooms with values we find in resoFacts/bathrooms
uncleaned_df["bathrooms"].fillna(uncleaned_df["resoFactsStats/bathrooms"], inplace=True)

In [29]:
#A quick thing I failed to notice was while I might have filled NA's for a few alot of these imputed data from one column
#To the other was 0 meaning we still don't know the number of bathrooms.
uncleaned_df["resoFactsStats/bathrooms"][55]

0.0

In [30]:
#Now we need to check the same for bedrooms
print((uncleaned_df['bedrooms'] != uncleaned_df['resoFactsStats/bedrooms']).sum())
print(uncleaned_df['bedrooms'].isnull().sum())
print(uncleaned_df['resoFactsStats/bedrooms'].isnull().sum())
#Seems like bedrooms col has more missing 
#We will keep imputing into the main column but we will deal with 0's later

19464
19464
16328

In [31]:
uncleaned_df["resoFactsStats/bedrooms"].fillna(uncleaned_df["bedrooms"], inplace=True)

In [32]:
#Now we need to check the city/region
print((uncleaned_df['address/city'] != uncleaned_df['resoFactsStats/cityRegion']).sum())
print(uncleaned_df['address/city'].isnull().sum())
print(uncleaned_df['resoFactsStats/cityRegion'].isnull().sum())
#Seems like the discrepancies is probably from the way the string was typed so either one can be dropped

773
1
1

In [33]:
#resoFactsStats/homeType col and resoFactsStats/atAGlanceFacts/0/factValue seem to have same values lets check
print((uncleaned_df['resoFactsStats/homeType'] != uncleaned_df['resoFactsStats/atAGlanceFacts/0/factValue']).sum())
print(uncleaned_df['resoFactsStats/homeType'].isnull().sum())
print(uncleaned_df['resoFactsStats/atAGlanceFacts/0/factValue'].isnull().sum())
#They both tell the type of house it is and since resoFactsStats/atAGlanceFacts/0/factValue has more missing i will drop it

373
0
286

In [34]:
#Need to do the same for living area now
print((uncleaned_df['livingArea'] != uncleaned_df['resoFactsStats/livingArea']).sum())
print(uncleaned_df['livingArea'].isnull().sum())
print(uncleaned_df['resoFactsStats/livingArea'].isnull().sum())
# They all appear like they are not equal because reso usings sqft after its value whereas livingArea col does not
#regardless The difference doesnt seem to make a big difference we will keep livingArea since we dont have to convert it
#to a interger variable whereas resoFacts is in sting format

75630
9211
9182

In [35]:
#esoFactsStats/atAGlanceFacts/1/factValue and reso/yearBuilt seem to both have the year the house was built
print((uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'] != uncleaned_df['resoFactsStats/yearBuilt']).sum())
print(uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].isnull().sum())
print(uncleaned_df['resoFactsStats/yearBuilt'].isnull().sum())
print(uncleaned_df['yearBuilt'].isnull().sum())
#Here there are 3 columns with the same info lets see if we can fill with the others
#The biggest different is probably due to the fact one col has int and the other floats so lets drop the one with more missing values

44265
5688
5692
5732

In [36]:
Counter(uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue']).most_common()
#it seems there have been some mislabeling of hometype into yearbuilt of the following
#'Apartment', 34 rows, 'Multiple Occupancy', 32, 'Single Family', 19, 'Central', 7, 'Townhouse', 2
#We will use some smart pandas indexing and fill in those values with a column with has the right values

[('1920', 3593),
 (1920.0, 3184),
 (nan, 2895),
 ('1925', 2894),
 ('1930', 2779),
 (1930.0, 2430),
 (1925.0, 2199),
 ('1950', 2120),
 ('1910', 1962),
 (1950.0, 1955),
 ('1960', 1578),
 (1910.0, 1545),
 (1940.0, 1506),
 ('1940', 1428),
 (1960.0, 1395),
 ('1901', 1346),
 ('1955', 1168),
 (1955.0, 1088),
 ('1935', 990),
 ('1945', 972),
 (1945.0, 963),
 (1935.0, 954),
 ('1899', 912),
 (1899.0, 903),
 ('1965', 902),
 (1901.0, 873),
 ('1970', 816),
 (1965.0, 714),
 ('1931', 694),
 ('1915', 662),
 (1931.0, 635),
 (1970.0, 629),
 (1915.0, 604),
 ('2005', 494),
 ('1975', 487),
 ('2004', 425),
 ('1980', 414),
 ('2006', 411),
 (2004.0, 392),
 (2005.0, 375),
 (1900.0, 369),
 ('2018', 352),
 (1975.0, 351),
 ('1900', 349),
 ('1905', 342),
 ('2007', 339),
 ('1996', 317),
 (2006.0, 316),
 (2007.0, 299),
 ('2001', 293),
 ('2002', 285),
 ('2003', 284),
 ('2000', 284),
 (1980.0, 282),
 ('1986', 271),
 ('2017', 267),
 ('2019', 254),
 ('1985', 252),
 ('1987', 250),
 ('1989', 245),
 (2018.0, 244),
 ('1988', 242),
 ('1990', 239),
 ('1999', 227),
 (2003.0, 226),
 (1986.0, 223),
 ('1997', 216),
 (1988.0, 216),
 (1987.0, 214),
 (1989.0, 212),
 (2017.0, 206),
 (2002.0, 203),
 (1905.0, 198),
 (1952.0, 195),
 ('2020', 193),
 ('1994', 192),
 ('2008', 187),
 (2008.0, 187),
 (2000.0, 181),
 (1985.0, 179),
 ('1993', 172),
 ('1992', 169),
 ('1995', 169),
 (2001.0, 169),
 ('1926', 168),
 (1996.0, 167),
 ('1998', 159),
 ('1928', 150),
 (2019.0, 149),
 ('1991', 145),
 (1990.0, 144),
 ('1963', 143),
 (1999.0, 142),
 ('1927', 137),
 ('2016', 132),
 ('1951', 127),
 ('1929', 121),
 ('2009', 119),
 (1928.0, 119),
 (1953.0, 117),
 (1997.0, 115),
 ('1948', 113),
 (1958.0, 108),
 ('1984', 105),
 ('1983', 102),
 ('1962', 99),
 (1948.0, 98),
 (1992.0, 98),
 (1983.0, 98),
 ('2015', 97),
 (1998.0, 96),
 ('1949', 96),
 ('1952', 95),
 ('1958', 95),
 (2015.0, 92),
 ('1959', 90),
 ('2014', 90),
 (2011.0, 89),
 ('2010', 88),
 (2009.0, 87),
 ('2013', 85),
 ('1924', 85),
 ('2012', 83),
 (1949.0, 83),
 (1995.0, 83),
 (2016.0, 82),
 (1991.0, 76),
 ('1956', 73),
 ('1964', 73),
 (1926.0, 72),
 ('1961', 71),
 (1929.0, 71),
 (1984.0, 71),
 ('1923', 70),
 (2014.0, 69),
 ('1947', 68),
 (1981.0, 67),
 ('1939', 63),
 (2020.0, 61),
 ('1981', 60),
 (1927.0, 60),
 (1956.0, 59),
 (1993.0, 59),
 (1951.0, 58),
 (2013.0, 58),
 (1939.0, 58),
 (2010.0, 58),
 ('1954', 57),
 (1963.0, 57),
 ('1937', 55),
 ('1978', 55),
 ('2011', 55),
 (1978.0, 55),
 (1938.0, 54),
 (2012.0, 54),
 ('1982', 54),
 ('1974', 53),
 ('1932', 53),
 ('1953', 51),
 (1962.0, 50),
 ('None', 49),
 (1966.0, 49),
 ('1938', 48),
 (1954.0, 48),
 (1932.0, 48),
 ('1941', 47),
 (1982.0, 47),
 ('1957', 46),
 (1959.0, 46),
 (1923.0, 46),
 ('1909', 45),
 ('1967', 44),
 (1924.0, 44),
 ('1969', 43),
 ('1966', 43),
 ('1973', 43),
 (1947.0, 42),
 ('1968', 42),
 (1961.0, 41),
 ('1912', 41),
 (1973.0, 41),
 (1957.0, 40),
 (1941.0, 40),
 ('1933', 38),
 ('1979', 37),
 (1964.0, 37),
 (1922.0, 37),
 ('1922', 36),
 ('1977', 35),
 (1979.0, 35),
 (1921.0, 35),
 (1994.0, 35),
 ('Apartment', 34),
 ('1911', 34),
 (1974.0, 33),
 ('Multiple Occupancy', 32),
 ('1921', 32),
 (1937.0, 32),
 (1967.0, 31),
 ('1890', 31),
 ('1971', 30),
 ('1913', 30),
 ('1936', 30),
 ('1903', 30),
 (1968.0, 27),
 (1911.0, 27),
 (1890.0, 27),
 (1969.0, 27),
 ('2021', 26),
 (1936.0, 26),
 ('1906', 25),
 ('1916', 23),
 (0.0, 23),
 (1933.0, 23),
 ('1907', 23),
 ('1908', 22),
 (1977.0, 22),
 ('1976', 20),
 (1972.0, 20),
 ('1902', 20),
 (1914.0, 20),
 ('1972', 19),
 ('Single Family', 19),
 ('1942', 18),
 (1909.0, 18),
 (1916.0, 18),
 ('1917', 17),
 (1880.0, 17),
 ('0', 17),
 (1919.0, 17),
 (1946.0, 17),
 (1976.0, 17),
 ('1946', 15),
 (1942.0, 15),
 (1971.0, 15),
 ('1943', 14),
 ('1944', 14),
 ('1914', 14),
 ('1919', 13),
 (1907.0, 13),
 ('1918', 12),
 ('1880', 12),
 (1850.0, 12),
 (1934.0, 11),
 ('1870', 11),
 ('1800', 11),
 (1860.0, 11),
 (1913.0, 10),
 (1943.0, 10),
 ('1895', 10),
 ('1850', 10),
 (1845.0, 10),
 (1917.0, 10),
 (1800.0, 9),
 (1912.0, 8),
 ('1898', 8),
 ('1846', 8),
 ('1885', 7),
 ('Central', 7),
 (1918.0, 7),
 (2021.0, 7),
 ('1840', 7),
 ('1896', 6),
 ('1881', 6),
 ('Other', 6),
 ('1891', 6),
 ('1904', 6),
 ('1886', 6),
 (1944.0, 6),
 (1861.0, 6),
 (1873.0, 6),
 ('1889', 5),
 ('1883', 5),
 (1870.0, 5),
 (1908.0, 5),
 ('1861', 5),
 ('1860', 5),
 (1856.0, 5),
 (1881.0, 5),
 ('1839', 5),
 (1903.0, 4),
 (1906.0, 4),
 (1902.0, 4),
 ('1855', 4),
 ('1884', 4),
 ('1934', 4),
 ('1845', 4),
 (1898.0, 4),
 (1840.0, 4),
 (1846.0, 4),
 ('1853', 3),
 (1896.0, 3),
 ('1857', 3),
 ('1875', 3),
 (1904.0, 3),
 (1848.0, 3),
 ('1872', 3),
 ('1849', 3),
 ('1834', 3),
 (1875.0, 3),
 (1872.0, 3),
 (1852.0, 3),
 ('1848', 3),
 ('1841', 3),
 ('1897', 3),
 ('1894', 2),
 ('1867', 2),
 ('1854', 2),
 ('Townhouse', 2),
 ('1835', 2),
 ('1858', 2),
 ('1865', 2),
 (1863.0, 2),
 ('1862', 2),
 ('Wall', 2),
 ('1876', 2),
 (1889.0, 2),
 ('1836', 2),
 ('1829', 2),
 ('1826', 2),
 ('1838', 2),
 (1841.0, 2),
 (1879.0, 2),
 (1855.0, 2),
 ('1888', 2),
 (1857.0, 2),
 (1885.0, 2),
 ('1887', 2),
 ('1859', 2),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 ('1843', 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 ('1', 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 (nan, 1),
 ...]

In [37]:
wrongYeartype = ['Apartment','Multiple Occupancy', 'Single Family', 'Central', 'Townhouse', 'Wall']
regstr = '|'.join(wrongYeartype)
uncleaned_df[['resoFactsStats/atAGlanceFacts/1/factValue','resoFactsStats/yearBuilt','yearBuilt']][uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].str.contains(regstr, na=False)]
#lets fill in those with the correct values, it seems both resoFact/yearBuilt or yearBuilt will work

,resoFactsStats/atAGlanceFacts/1/factValue,resoFactsStats/yearBuilt,yearBuilt
351,Apartment,1920.0,1920.0
1135,Multiple Occupancy,1942.0,1942.0
3087,Multiple Occupancy,2002.0,2002.0
3899,Apartment,2012.0,2012.0
4810,Townhouse,1901.0,1901.0
...,...,...,...
68528,Central,1920.0,1920.0
68918,Central,1973.0,1973.0
68979,Multiple Occupancy,1940.0,1940.0
71134,Multiple Occupancy,1963.0,1963.0
74568,Multiple Occupancy,NaN,NaN

In [38]:
uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'][uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].str.contains(regstr, na=False)] = uncleaned_df['resoFactsStats/yearBuilt'][uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].str.contains(regstr, na=False)]  
#lets fill in those with the correct values

<ipython-input-38-a6a22c3d04be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'][uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].str.contains(regstr, na=False)] = uncleaned_df['resoFactsStats/yearBuilt'][uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].str.contains(regstr, na=False)]

In [39]:
uncleaned_df['resoFactsStats/atAGlanceFacts/1/factValue'].fillna(uncleaned_df['resoFactsStats/yearBuilt'],inplace=True)
#didn't really make much of a difference

In [40]:
#Further columns to drop
drop_cols = ['zpid', 'url', 'address/community', 'address/neighborhood', 'address/subdivision', 'currency', 'dateposted', 'resoFactsStats/atAGlanceFacts/4/factLabel'
             ,'resoFactsStats/parkingFeatures/0','resoFactsStats/parkingFeatures/1', 'homeStatus', 'description'
             , 'resoFactsStats/bathrooms', 'bedrooms', 'resoFactsStats/cityRegion', 'resoFactsStats/homeType'
            , 'resoFactsStats/atAGlanceFacts/3/factLabel', 'resoFactsStats/livingArea', 'resoFactsStats/yearBuilt', 'yearBuilt']

In [41]:
uncleaned_df = uncleaned_df.drop(drop_cols, axis=1)

In [42]:
#Now lets check for duplicate rows but we will use our address as an identifier
duplicates = uncleaned_df.duplicated(subset = 'address/streetAddress', keep=False)

In [43]:
uncleaned_df[duplicates].sort_values(by = 'address/streetAddress')
#Thats a lot of duplicates and even for a safe measure I looked into about 10 of the address to double check if 
#Its just different city and etc but it seems all the ones i checked were actual duplicates, for many
# the city names were different, for example rego park, jamaica this is typical for most of them
#While rego park is a neighborhood it is inside Jamaica and etc. 
#Lets drop most of these

,address/city,address/state,address/streetAddress,address/zipcode,bathrooms,latitude,livingArea,longitude,price,propertyTaxRate,...,resoFactsStats/bathroomsHalf,resoFactsStats/bedrooms,resoFactsStats/hasCooling,resoFactsStats/hasFireplace,resoFactsStats/hasHeating,resoFactsStats/hasSpa,resoFactsStats/lotSize,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue
59026,Brooklyn,NY,(Undisclosed Address),11223.0,1.0,NaN,2400.0,NaN,2250.0,0.65,...,0.0,3.0,True,False,True,False,"4,500 sqft",2.0,NaN,NaN
17766,Flushing,NY,(Undisclosed Address),11364.0,2.0,NaN,2200.0,NaN,2500.0,0.84,...,0.0,3.0,True,NaN,False,False,"4,000 sqft",2.0,NaN,NaN
29314,Staten Island,NY,(Undisclosed Address),10304.0,1.0,NaN,1000.0,NaN,1850.0,0.87,...,0.0,1.0,True,NaN,True,False,"7,139 sqft",2.0,NaN,NaN
49938,Staten Island,NY,(Undisclosed Address),10304.0,1.0,NaN,1000.0,NaN,1800.0,0.87,...,0.0,2.0,True,NaN,False,False,"2,650 sqft",2.0,NaN,NaN
55233,Staten Island,NY,(Undisclosed Address),10305.0,2.0,NaN,1150.0,NaN,2300.0,0.87,...,0.0,3.0,True,False,True,False,"3,998 sqft",2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,Bronx,NY,West St,10475.0,NaN,40.889648,NaN,-73.817741,1.0,0.95,...,NaN,NaN,False,NaN,False,False,"1,306 sqft",NaN,474.0,44000.0
1866,Bronx,NY,West St,10475.0,NaN,40.889648,NaN,-73.817741,1.0,0.95,...,NaN,NaN,False,NaN,False,False,"1,306 sqft",NaN,474.0,44000.0
66843,Bronx,NY,White Plains Rd,10460.0,NaN,40.842098,NaN,-73.865265,999000.0,0.95,...,NaN,NaN,False,NaN,False,False,"1,352 sqft",NaN,170.0,53000.0
66808,Bronx,NY,White Plains Rd,10460.0,NaN,40.841976,NaN,-73.865173,350000.0,0.95,...,NaN,NaN,False,NaN,False,False,796 sqft,NaN,63.0,31000.0
66753,Bronx,NY,White Plains Rd,10460.0,NaN,40.842033,NaN,-73.865234,999000.0,0.95,...,NaN,NaN,False,NaN,False,False,"1,143 sqft",NaN,107.0,45000.0

In [44]:
uncleaned_df.drop_duplicates(subset='address/streetAddress', inplace=True)

In [45]:
uncleaned_df[uncleaned_df['address/streetAddress']== '6858 Selfridge St']

,address/city,address/state,address/streetAddress,address/zipcode,bathrooms,latitude,livingArea,longitude,price,propertyTaxRate,...,resoFactsStats/bathroomsHalf,resoFactsStats/bedrooms,resoFactsStats/hasCooling,resoFactsStats/hasFireplace,resoFactsStats/hasHeating,resoFactsStats/hasSpa,resoFactsStats/lotSize,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue
74675,Forest Hills,NY,6858 Selfridge St,11375.0,3.0,40.712128,1260.0,-73.856827,778000.0,0.84,...,1.0,3.0,True,False,True,False,0.04 Acres,NaN,6856.0,NaN

### 1.6.2 Drop Rows With No Price Data<a id='1.6.2_Drop_Rows_With_No_Price_Data'></a>

In [46]:
#As price is our target feature we don't really need any rows that having missing price as we are predicting on 
#price, since its missing we can drop those 
uncleaned_df = uncleaned_df.drop(uncleaned_df.loc[uncleaned_df['price'].isnull()].index, axis=0)

### 1.6.3 Anomalies<a id='1.6.3_Anomalies'></a>

In [47]:
#We should drop all hometype which is vacant land as these are not typical houses and mess up the distribution 
#of house prices 
vacant_lands = uncleaned_df[uncleaned_df['resoFactsStats/atAGlanceFacts/0/factValue'] == 'Vacant Land'].index
uncleaned_df = uncleaned_df.drop(vacant_lands)

In [48]:
#This is a weird anomoly and I noticed that price was only 1550 this made me think of all the o the houses which are less than 100k
uncleaned_df[uncleaned_df['address/streetAddress'] == '(Undisclosed Address)']

,address/city,address/state,address/streetAddress,address/zipcode,bathrooms,latitude,livingArea,longitude,price,propertyTaxRate,...,resoFactsStats/bathroomsHalf,resoFactsStats/bedrooms,resoFactsStats/hasCooling,resoFactsStats/hasFireplace,resoFactsStats/hasHeating,resoFactsStats/hasSpa,resoFactsStats/lotSize,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue
2476,Staten Island,NY,(Undisclosed Address),10306.0,1.0,NaN,1359.0,NaN,1550.0,0.87,...,0.0,1.0,True,NaN,True,False,"7,365 sqft",3.0,NaN,NaN

In [49]:
uncleaned_df[uncleaned_df['price'] < 250000].head()

,address/city,address/state,address/streetAddress,address/zipcode,bathrooms,latitude,livingArea,longitude,price,propertyTaxRate,...,resoFactsStats/bathroomsHalf,resoFactsStats/bedrooms,resoFactsStats/hasCooling,resoFactsStats/hasFireplace,resoFactsStats/hasHeating,resoFactsStats/hasSpa,resoFactsStats/lotSize,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue
5,New York,NY,24 Cooper St #5CD,10034.0,2.0,40.867687,994.0,-73.924606,230000.0,0.88,...,0.0,3.0,False,NaN,False,False,NaN,NaN,NaN,NaN
19,Bronx,NY,629 Kappock St APT 6N,10463.0,1.0,40.880699,800.0,-73.916603,229000.0,0.95,...,0.0,1.0,True,NaN,True,False,NaN,NaN,NaN,NaN
62,New York,NY,34 Fort Charles Pl,10463.0,3.0,40.875870,3000.0,-73.910347,56687.0,0.88,...,0.0,6.0,False,True,True,True,"2,591 sqft",4.0,5487.0,689000.0
67,Bronx,NY,15-17 Fort Charles Pl,10463.0,NaN,40.875893,3846.0,-73.910950,114308.0,0.88,...,NaN,NaN,False,NaN,False,False,"3,120 sqft",3.0,7573.0,859000.0
73,Bronx,NY,512 Kappock St APT 3L,10463.0,1.0,40.877392,800.0,-73.918251,210000.0,0.95,...,0.0,1.0,False,NaN,True,False,NaN,3.0,NaN,NaN

After some investigating I noticed that a lot of houses listed below 250k and certainly most houses listed below 100k
were being sold for far below market value reasons unknown most like family and friends selling to each other or 
transfering title of house by selling for cheap Capital Fortune houses are all nearly 400k and above so to get rid of numbers skewing from all these lowly priced houses even though their true price is much higher I will drop all houses priced lower than 100k.

In [50]:
uncleaned_df = uncleaned_df.drop(uncleaned_df[uncleaned_df['price'] < 100000].index, axis=0)

In [51]:
uncleaned_df = uncleaned_df.reset_index(drop=True)

In [52]:
uncleaned_df.head()

,address/city,address/state,address/streetAddress,address/zipcode,bathrooms,latitude,livingArea,longitude,price,propertyTaxRate,...,resoFactsStats/bathroomsHalf,resoFactsStats/bedrooms,resoFactsStats/hasCooling,resoFactsStats/hasFireplace,resoFactsStats/hasHeating,resoFactsStats/hasSpa,resoFactsStats/lotSize,resoFactsStats/stories,resoFactsStats/taxAnnualAmount,resoFactsStats/taxAssessedValue
0,New York,NY,60 Terrace View Ave,10463.0,2.0,40.877743,1889.0,-73.910866,799999.0,0.88,...,1.0,5.0,True,NaN,True,False,NaN,NaN,5096.0,711000.0
1,Bronx,NY,625 W 246th St,10471.0,8.0,40.892689,7000.0,-73.910667,3995000.0,0.95,...,1.0,8.0,True,True,False,False,0.29 Acres,1.0,13941.0,1937000.0
2,Bronx,NY,716 W 231st St,10463.0,3.0,40.883419,4233.0,-73.918106,1495000.0,0.95,...,0.0,4.0,False,NaN,False,False,0.42 Acres,2.0,12253.0,2341000.0
3,Bronx,NY,750 W 232nd St,10463.0,6.0,40.885033,7000.0,-73.917793,3450000.0,0.95,...,0.0,5.0,True,True,False,False,0.26 Acres,2.0,19472.0,3011000.0
4,Bronx,NY,632 W 230th St,10463.0,6.0,40.881702,NaN,-73.914185,1790000.0,0.95,...,1.0,5.0,True,NaN,False,False,NaN,NaN,NaN,NaN

### 1.6.4 Number Of Missing Values By Column<a id='1.6.4_Number_Of_Missing_Values_By_Column'></a>

In [53]:
#Okay we refine our dataset by a lot but there is still alot more work, we need to relabel and perphaps drop a few more cols
#This isn't perfect as still a lot of columns have NaN but its a start we will do further work as we work towards our objective.
#Lets see our missing data 
missing = pd.concat([uncleaned_df.isnull().sum(), 100 * uncleaned_df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count', '%'])
#Lets start with dropping columns that have a lot of NaN and relabeling columns to better represent the column values
#And for some of the more trivial one where its NaN we will replace with either 0 or false
#For example has fireplace if its NaN we will just put false or 
#how many stories a build it is if its NaN we can assume its 0

                                           count          %
address/city                                   0   0.000000
address/state                                  0   0.000000
address/streetAddress                          0   0.000000
latitude                                       0   0.000000
longitude                                      0   0.000000
price                                          0   0.000000
resoFactsStats/hasSpa                          0   0.000000
address/zipcode                                7   0.011791
propertyTaxRate                               12   0.020214
resoFactsStats/atAGlanceFacts/0/factValue    217   0.365535
resoFactsStats/atAGlanceFacts/4/factValue    314   0.528931
resoFactsStats/hasHeating                    932   1.569949
resoFactsStats/hasCooling                   2273   3.828855
resoFactsStats/atAGlanceFacts/1/factValue   3969   6.685758
livingArea                                  7278  12.259749
resoFactsStats/taxAnnualAmount              8668  14.601196
resoFactsStats/lotSize                      9284  15.638844
bathrooms                                  10122  17.050451
resoFactsStats/taxAssessedValue            10465  17.628232
resoFactsStats/bedrooms                    11767  19.821444
resoFactsStats/bathroomsHalf               14013  23.604818
resoFactsStats/bathroomsFull               14075  23.709256
resoFactsStats/stories                     22586  38.045987
resoFactsStats/basement                    37040  62.393666
resoFactsStats/hasFireplace                44095  74.277773
resoFactsStats/atAGlanceFacts/7/factLabel  55174  92.940285
resoFactsStats/atAGlanceFacts/7/factValue  55174  92.940285

In [54]:
uncleaned_df[['resoFactsStats/atAGlanceFacts/7/factValue','resoFactsStats/atAGlanceFacts/7/factLabel']].isnull().sum()
#It seems we this is the price per sqft and they have a lot of missing data
#What we can do is make a new column and make it price per sq ft by calculate the lot size and its price and we would have more
#consistent data so lets drop these two

resoFactsStats/atAGlanceFacts/7/factValue    55174
resoFactsStats/atAGlanceFacts/7/factLabel    55174
dtype: int64

In [55]:
uncleaned_df = uncleaned_df.drop(['resoFactsStats/atAGlanceFacts/7/factValue','resoFactsStats/atAGlanceFacts/7/factLabel'], axis=1)

### 1.6.5 Relabeling of Columns<a id='1.6.4_Relabel_Columns'></a>

In [56]:
#We need to clean and fix a lot of data types lets do that but first lets do some columns rename
column_rename = {'address/city':'City', 'address/state': 'State', 'address/zipcode':'ZipCode', 
                 'resoFactsStats/atAGlanceFacts/0/factValue': 'HomeType', 
                 'resoFactsStats/atAGlanceFacts/1/factValue':'YearBuilt', 
                 'resoFactsStats/atAGlanceFacts/4/factValue': 'ParkingType',
                'resoFactsStats/basement':'Basement', 'bathrooms': 'Total_Bathrooms',
                 'resoFactsStats/bathroomsFull':'Full_Bathrooms','resoFactsStats/bathroomsHalf':'Half_Bathrooms',
                 'resoFactsStats/bedrooms':'Bedrooms', 'resoFactsStats/hasCooling':'Cooling_Available',
                 'resoFactsStats/hasFireplace': 'Fireplace_Available', 'resoFactsStats/hasHeating': 'Heating_Available',
                 'resoFactsStats/hasSpa':'Spa_Available', 'livingArea': 'LivingArea_Space(SqFT)',
                 'resoFactsStats/lotSize':'Lot_Size(SqFT)', 'resoFactsStats/stories':'Story_Building',
                 'resoFactsStats/taxAnnualAmount':'Annual_Tax', 'resoFactsStats/taxAssessedValue':'Tax_Assessed_Value'}
uncleaned_df.rename(columns = column_rename, inplace = True)
uncleaned_df.dtypes

City                       object
State                      object
address/streetAddress      object
ZipCode                   float64
Total_Bathrooms           float64
latitude                  float64
LivingArea_Space(SqFT)    float64
longitude                 float64
price                     float64
propertyTaxRate           float64
HomeType                   object
YearBuilt                  object
ParkingType                object
Basement                   object
Full_Bathrooms            float64
Half_Bathrooms            float64
Bedrooms                  float64
Cooling_Available          object
Fireplace_Available        object
Heating_Available          object
Spa_Available                bool
Lot_Size(SqFT)             object
Story_Building            float64
Annual_Tax                float64
Tax_Assessed_Value        float64
dtype: object

### 1.6.5.1 Fixing Datatypes of Columns<a id='1.6.5.1_Fixing_datatypes_of_columns'></a>

In [57]:
#Lets look at lotsize and change to float or int, it seems a lot of is a mix of acres and sqft for consistency sake
# lets convert all of it to sqft 
uncleaned_df[['Lot_Size(SqFT)']][uncleaned_df['Lot_Size(SqFT)'].str.contains(r'Acres', na=False)]

      Lot_Size(SqFT)
1         0.29 Acres
2         0.42 Acres
3         0.26 Acres
6         0.13 Acres
8         0.48 Acres
...              ...
59339     0.27 Acres
59344     0.69 Acres
59345     0.09 Acres
59347     0.26 Acres
59358     0.06 Acres

[6615 rows x 1 columns]

In [58]:
df1 = uncleaned_df[['Lot_Size(SqFT)']][uncleaned_df['Lot_Size(SqFT)'].str.contains(r'Acres', na=False)]

In [59]:
df1['Lot_Size(SqFT)'] = df1['Lot_Size(SqFT)'].replace(to_replace ='Acres', value = '', regex = True)
#Get rid of sqft as we denouce it was in SqFT in the column name
df1['Lot_Size(SqFT)'] = df1['Lot_Size(SqFT)'].replace(to_replace =' ', value = '', regex = True)
df1['Lot_Size(SqFT)'] = df1['Lot_Size(SqFT)'].replace(to_replace =',', value = '', regex = True)

df1['Lot_Size(SqFT)'] = df1['Lot_Size(SqFT)'].astype(float)

In [60]:
def to_sqft(a):
    return float(a*43560)

In [61]:
uncleaned_df['Lot_Size(SqFT)'][uncleaned_df['Lot_Size(SqFT)'].str.contains(r'Acres', na=False)] = df1['Lot_Size(SqFT)'].apply(to_sqft)

<ipython-input-61-4e81fed9c1bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncleaned_df['Lot_Size(SqFT)'][uncleaned_df['Lot_Size(SqFT)'].str.contains(r'Acres', na=False)] = df1['Lot_Size(SqFT)'].apply(to_sqft)

In [62]:
#Lets start by making yearBuilt integers first we need to remove somestrings to NaN
uncleaned_df['YearBuilt'][uncleaned_df['YearBuilt'] == 'None'] = np.nan
uncleaned_df['YearBuilt'][uncleaned_df['YearBuilt'] == 'Other'] = np.nan

<ipython-input-62-dcb91aa490f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncleaned_df['YearBuilt'][uncleaned_df['YearBuilt'] == 'None'] = np.nan
<ipython-input-62-dcb91aa490f1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncleaned_df['YearBuilt'][uncleaned_df['YearBuilt'] == 'Other'] = np.nan

In [63]:
#For somereason pandas won't allow me to turn into Int right away so I need to convert to float then Int
uncleaned_df['YearBuilt'] = uncleaned_df['YearBuilt'].astype('float')
uncleaned_df['YearBuilt'] = uncleaned_df['YearBuilt'].astype('Int32')

In [64]:
uncleaned_df['YearBuilt']

0        1920
1        1940
2        1920
3        1950
4        2020
         ...
59360    1920
59361    1925
59362    1925
59363    1930
59364    1930
Name: YearBuilt, Length: 59365, dtype: Int32

In [65]:
uncleaned_df['Lot_Size(SqFT)'] = uncleaned_df['Lot_Size(SqFT)'].replace(to_replace ='sqft', value = '', regex = True)
#Get rid of sqft as we denouce it was in SqFT in the column name
uncleaned_df['Lot_Size(SqFT)'] = uncleaned_df['Lot_Size(SqFT)'].replace(to_replace =' ', value = '', regex = True)
uncleaned_df['Lot_Size(SqFT)'] = uncleaned_df['Lot_Size(SqFT)'].replace(to_replace =',', value = '', regex = True)

uncleaned_df['Lot_Size(SqFT)'] = uncleaned_df['Lot_Size(SqFT)'].astype(float)

In [66]:
uncleaned_df['Lot_Size(SqFT)']
#Perfect now our Lot_size is in float, lets do other numeric data types that might have a similar issue

0            NaN
1        12632.4
2        18295.2
3        11325.6
4            NaN
          ...
59360     2417.0
59361     3255.0
59362     6603.0
59363     2367.0
59364     1999.0
Name: Lot_Size(SqFT), Length: 59365, dtype: float64

In [67]:
#lets fix our boolean datatypes or variables that should be boolean for example, if it has a fireplace or not and cooling.
uncleaned_df['Cooling_Available'] = uncleaned_df['Cooling_Available'] == True
#Cooling seems to be good but its type object lets change it to type bool

In [68]:
#Fireplace seems to have a lot of NaN for this case we will turn all NaN to false as at worst we can assume the
#place has no fireplace
uncleaned_df['Fireplace_Available'].fillna(False, inplace = True)

In [69]:
#Looking at heating available it is strange to see  that alot of these places are false when it is common for
#most places to have heating even more common in NYC to have heating than cooling but trying to impute 
#and correct this would take a very thoughtful process and I think I rather just fill in NaN with false
uncleaned_df['Heating_Available'].fillna(False, inplace = True)

In [70]:
#Basement is quite tricky as there is a lot of strings in this column what I'll do is set false for all None, and unfinished
#And True for having anytype of basement 
uncleaned_df['Basement'] = uncleaned_df['Basement'].fillna(False)

In [71]:
#For all values that are none or unfinished we put false as well and make all the ones with basements True
for i in uncleaned_df.index:
    if type(uncleaned_df['Basement'][i]) == str:
        if uncleaned_df['Basement'][i] in ('None') or uncleaned_df['Basement'][i] in ('Unfinished') or uncleaned_df['Basement'][i] in ('None,Unfinished'):
            uncleaned_df['Basement'][i] = False
        else:
            uncleaned_df['Basement'][i] = True

<ipython-input-71-32ffbd671f75>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncleaned_df['Basement'][i] = True
<ipython-input-71-32ffbd671f75>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uncleaned_df['Basement'][i] = False

In [72]:
uncleaned_df['Basement'] = uncleaned_df['Basement'] == True

Bedrooms will be replaced with their respective price range, same with Total_Bathrooms as well.
Since Price is our target feature we will drop any rows without a price. For storied Building we will make it 1 at worst we can assume they have at least one floor.

In [73]:
bed100n500k = round(uncleaned_df['Bedrooms'].loc[(uncleaned_df['price'] >= 100000) & (uncleaned_df['price'] < 500000)].mean())
bed500kn1mil = round(uncleaned_df['Bedrooms'].loc[(uncleaned_df['price'] >= 500000) & (uncleaned_df['price'] < 1000000)].mean())
bed1miln5mil = round(uncleaned_df['Bedrooms'].loc[(uncleaned_df['price'] >= 1000000) & (uncleaned_df['price'] < 5000000)].mean())
bed5miln10mil = round(uncleaned_df['Bedrooms'].loc[(uncleaned_df['price'] >= 5000000) & (uncleaned_df['price'] < 10000000)].mean())
bed10miln50mil = round(uncleaned_df['Bedrooms'].loc[(uncleaned_df['price'] >= 10000000) & (uncleaned_df['price'] < 50000000)].mean())

bedroom_df = (uncleaned_df[['Bedrooms','price']].loc[(uncleaned_df['Bedrooms'].isnull()) | (uncleaned_df['Bedrooms'] == 0)])    
print(bed100n500k,bed500kn1mil,bed1miln5mil,bed5miln10mil,bed10miln50mil)

3 4 5 5 6

In [74]:
for i in bedroom_df.index:
    if bedroom_df['price'][i] >= 100000 and bedroom_df['price'][i] < 500000:
        bedroom_df['Bedrooms'][i] = bed100n500k
    if bedroom_df['price'][i] >= 500000 and bedroom_df['price'][i] < 1000000:
        bedroom_df['Bedrooms'][i] =  bed500kn1mil
    if bedroom_df['price'][i] >= 1000000 and bedroom_df['price'][i] < 5000000:
        bedroom_df['Bedrooms'][i] = bed1miln5mil
    if bedroom_df['price'][i] >= 5000000 and bedroom_df['price'][i] < 10000000:
        bedroom_df['Bedrooms'][i] = bed5miln10mil
    if bedroom_df['price'][i] >= 10000000 and bedroom_df['price'][i] < 50000000:
        bedroom_df['Bedrooms'][i] = bed10miln50mil
    if bedroom_df['price'][i] >= 50000000:
        bedroom_df['Bedrooms'][i] =  random.choice([7, 8])

In [75]:
uncleaned_df['Bedrooms'].loc[(uncleaned_df['Bedrooms'].isnull()) | (uncleaned_df['Bedrooms'] == 0)] = bedroom_df['Bedrooms']

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [76]:
bathroom_df = (uncleaned_df[['Total_Bathrooms','price']].loc[(uncleaned_df['Total_Bathrooms'].isnull()) | (uncleaned_df['Total_Bathrooms'] == 0)]) 
bath100n500k = round(uncleaned_df['Total_Bathrooms'].loc[(uncleaned_df['price'] >= 100000) & (uncleaned_df['price'] < 500000)].mean())
bath500kn1mil = round(uncleaned_df['Total_Bathrooms'].loc[(uncleaned_df['price'] >= 500000) & (uncleaned_df['price'] < 1000000)].mean())
bath1miln5mil = round(uncleaned_df['Total_Bathrooms'].loc[(uncleaned_df['price'] >= 1000000) & (uncleaned_df['price'] < 5000000)].mean())
bath5miln10mil = round(uncleaned_df['Total_Bathrooms'].loc[(uncleaned_df['price'] >= 5000000) & (uncleaned_df['price'] < 10000000)].mean())
bath10miln50mil = round(uncleaned_df['Total_Bathrooms'].loc[(uncleaned_df['price'] >= 10000000) & (uncleaned_df['price'] < 50000000)].mean())

print(bath100n500k,bath500kn1mil,bath1miln5mil,bath5miln10mil,bath10miln50mil)

2 3 3 4 5

In [77]:
for i in bathroom_df.index:
    if bathroom_df['price'][i] >= 100000 and bathroom_df['price'][i] < 500000:
        bathroom_df['Total_Bathrooms'][i] = bath100n500k
    if bathroom_df['price'][i] >= 500000 and bathroom_df['price'][i] < 1000000:
        bathroom_df['Total_Bathrooms'][i] =  bath500kn1mil
    if bathroom_df['price'][i] >= 1000000 and bathroom_df['price'][i] < 5000000:
        bathroom_df['Total_Bathrooms'][i] = bath1miln5mil
    if bathroom_df['price'][i] >= 5000000 and bathroom_df['price'][i] < 10000000:
        bathroom_df['Total_Bathrooms'][i] = bath5miln10mil
    if bathroom_df['price'][i] >= 10000000 and bathroom_df['price'][i] < 50000000:
        bathroom_df['Total_Bathrooms'][i] = bath10miln50mil
    if bathroom_df['price'][i] >= 50000000:
        bathroom_df['Total_Bathrooms'][i] =  random.choice([5, 6])

In [78]:
uncleaned_df['Total_Bathrooms'].loc[(uncleaned_df['Total_Bathrooms'].isnull()) | (uncleaned_df['Total_Bathrooms'] == 0)] = bathroom_df['Total_Bathrooms']

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [79]:
#We are going to fill in NaN for story building column with 1 we can assume at worse they have at least one floor 
uncleaned_df['Story_Building'].fillna(1,inplace=True)

In [80]:
#Well i think that was all for fixing, cleaning some of our datatypes and filling in missing values.
uncleaned_df.head()

,City,State,address/streetAddress,ZipCode,Total_Bathrooms,latitude,LivingArea_Space(SqFT),longitude,price,propertyTaxRate,...,Half_Bathrooms,Bedrooms,Cooling_Available,Fireplace_Available,Heating_Available,Spa_Available,Lot_Size(SqFT),Story_Building,Annual_Tax,Tax_Assessed_Value
0,New York,NY,60 Terrace View Ave,10463.0,2.0,40.877743,1889.0,-73.910866,799999.0,0.88,...,1.0,5.0,True,False,True,False,NaN,1.0,5096.0,711000.0
1,Bronx,NY,625 W 246th St,10471.0,8.0,40.892689,7000.0,-73.910667,3995000.0,0.95,...,1.0,8.0,True,True,False,False,12632.4,1.0,13941.0,1937000.0
2,Bronx,NY,716 W 231st St,10463.0,3.0,40.883419,4233.0,-73.918106,1495000.0,0.95,...,0.0,4.0,False,False,False,False,18295.2,2.0,12253.0,2341000.0
3,Bronx,NY,750 W 232nd St,10463.0,6.0,40.885033,7000.0,-73.917793,3450000.0,0.95,...,0.0,5.0,True,True,False,False,11325.6,2.0,19472.0,3011000.0
4,Bronx,NY,632 W 230th St,10463.0,6.0,40.881702,NaN,-73.914185,1790000.0,0.95,...,1.0,5.0,True,False,False,False,NaN,1.0,NaN,NaN

In [81]:
#lets add a new column of PricePerSqft we can do this by diving the price by their lotsize
uncleaned_df['$_Per_SqFT'] = round(uncleaned_df['price'] / uncleaned_df['Lot_Size(SqFT)'], 2)

In [82]:
uncleaned_df['$_Per_SqFT']

0           NaN
1        316.25
2         81.72
3        304.62
4           NaN
          ...
59360    341.33
59361    830.72
59362    416.48
59363    395.01
59364    410.21
Name: $_Per_SqFT, Length: 59365, dtype: float64

In [83]:
#Re-arrange the Columns, we no longer really need the state column we know its in NY and we also need to check for any states
#which are not part of NY 
uncleaned_df['State'].value_counts()
uncleaned_df = uncleaned_df.drop(uncleaned_df[uncleaned_df['State'] != 'NY'].index, axis=0)

In [84]:
missing = pd.concat([uncleaned_df.isnull().sum(), 100 * uncleaned_df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count', '%'])

                        count          %
City                        0   0.000000
State                       0   0.000000
address/streetAddress       0   0.000000
Total_Bathrooms             0   0.000000
latitude                    0   0.000000
longitude                   0   0.000000
price                       0   0.000000
Basement                    0   0.000000
Bedrooms                    0   0.000000
Cooling_Available           0   0.000000
Fireplace_Available         0   0.000000
Heating_Available           0   0.000000
Spa_Available               0   0.000000
Story_Building              0   0.000000
ZipCode                     7   0.011794
propertyTaxRate            12   0.020219
HomeType                  215   0.362258
ParkingType               312   0.525695
YearBuilt                3956   6.665543
LivingArea_Space(SqFT)   7271  12.251053
Annual_Tax               8662  14.594777
Lot_Size(SqFT)           9278  15.632687
$_Per_SqFT               9278  15.632687
Tax_Assessed_Value      10459  17.622578
Half_Bathrooms          14006  23.598989
Full_Bathrooms          14068  23.703454

In [85]:
clean_df = uncleaned_df.reset_index(drop=True)

In [86]:
clean_df.to_csv(r'C:\Users\izine\Desktop\GitHub\Springboard-Data-Science\Capstone 2\Data\clean_df.csv', index=False)

### 1.6.5.2 Reverse Geolocator<a id='1.6.5.2_Reverse_Geolocator'></a>

We are going to use a reverse geolocator using the library geopy to get the proper address, neighborhood, and borough using longitude and latitude. 

### Update
I noticed that geopy reverse geolocation gave us a lot of wrong data, as a lot of the boroughs were wrongly labeled as well as neighborhoods, so I decided to switch to Google API of geolocating, and Google's is a lot faster as I am able to do 3000 requests per minute. But unlike geo api which it was 100x easier to filter through its results to gain our necessary information, google is a bit complicated and over-whelming so I have decided to filter for our desired results as much as possible using Google's API and switch to geo's if nothing is found.

In [87]:
clean_df

,City,State,address/streetAddress,ZipCode,Total_Bathrooms,latitude,LivingArea_Space(SqFT),longitude,price,propertyTaxRate,...,Bedrooms,Cooling_Available,Fireplace_Available,Heating_Available,Spa_Available,Lot_Size(SqFT),Story_Building,Annual_Tax,Tax_Assessed_Value,$_Per_SqFT
0,New York,NY,60 Terrace View Ave,10463.0,2.0,40.877743,1889.0,-73.910866,799999.0,0.88,...,5.0,True,False,True,False,NaN,1.0,5096.0,711000.0,NaN
1,Bronx,NY,625 W 246th St,10471.0,8.0,40.892689,7000.0,-73.910667,3995000.0,0.95,...,8.0,True,True,False,False,12632.4,1.0,13941.0,1937000.0,316.25
2,Bronx,NY,716 W 231st St,10463.0,3.0,40.883419,4233.0,-73.918106,1495000.0,0.95,...,4.0,False,False,False,False,18295.2,2.0,12253.0,2341000.0,81.72
3,Bronx,NY,750 W 232nd St,10463.0,6.0,40.885033,7000.0,-73.917793,3450000.0,0.95,...,5.0,True,True,False,False,11325.6,2.0,19472.0,3011000.0,304.62
4,Bronx,NY,632 W 230th St,10463.0,6.0,40.881702,NaN,-73.914185,1790000.0,0.95,...,5.0,True,False,False,False,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59345,Flushing,NY,6829 Manse St,11375.0,2.0,40.714203,2417.0,-73.855263,825000.0,0.84,...,3.0,False,False,True,False,2417.0,2.0,6447.0,907000.0,341.33
59346,Forest Hills Gardens,NY,82 Greenway Ter,11375.0,6.0,40.717163,6085.0,-73.843124,2704000.0,0.84,...,6.0,False,False,False,False,3255.0,2.0,18430.0,2513000.0,830.72
59347,Forest Hills Gardens,NY,86 Greenway Ter,11375.0,5.0,40.717052,4564.0,-73.843025,2750000.0,0.84,...,6.0,False,False,False,False,6603.0,2.0,24649.0,2893000.0,416.48
59348,Flushing,NY,8913 70th Ave,11375.0,3.0,40.709549,1216.0,-73.854385,935000.0,0.84,...,4.0,False,False,False,False,2367.0,2.0,4979.0,783000.0,395.01
59349,Flushing,NY,7049 Manse St,11375.0,2.0,40.712387,1450.0,-73.850288,820000.0,0.84,...,3.0,False,True,False,True,1999.0,2.0,6563.0,1124000.0,410.21

In [88]:
key = '&key=AIzaSyDcfcdJ8T1R4wFGqKAKOJInTiV6JQvM81A'
baseurl  = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='

In [89]:
# Lets see an example using our first observation 60 Terrace View Ave
def geolocator(coordinates):
    geolocator = Nominatim(user_agent="Pizon")
    reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)
    location = reverse(coordinates, language='en', exactly_one=True)
    return location.raw['address']

In [90]:
# .address will give us its address, Neighborhood, borough, county, state, and zip code
geolocator((uncleaned_df['latitude'][0],uncleaned_df['longitude'][0]))

{'house_number': '60',
 'road': 'Terrace View Avenue',
 'neighbourhood': 'Marble Hill',
 'suburb': 'Manhattan',
 'county': 'New York County',
 'city': 'New York',
 'state': 'New York',
 'postcode': '10463',
 'country': 'United States',
 'country_code': 'us'}

In [91]:
#Now we need to make a function to get the address for each latitude and longitude and put in the right address
#Iterating through dataframe rows takes forever we going to make our latitude and longtitudes into numpy arrays
np_latitude = clean_df['latitude'].to_numpy()
np_longitude = clean_df['longitude'].to_numpy()
np_index = clean_df['latitude'].index.to_numpy()
Neighborhood = []
Borough = []
nyc_boroughs = ['bronx', 'manhattan', 'queens', 'brooklyn', 'staten', 'staten island', 'the bronx', 'queen']

In [93]:
%%time
for i, j, k in zip(np_latitude, np_longitude, np_index):
    coordinates = f"{i},{j}"
    url = f"{baseurl}{coordinates}{key}"
    address = requests.get(url).json()['results'][0]['address_components']
    b = None
    for y in range(len(address)):
        if address[y]['long_name'].lower() in nyc_boroughs:
            b = address[y]['long_name'].lower()
            print('Gmap')
        else:
            continue
    
    if b not in nyc_boroughs:
        geoaddress = geolocator((i,j))
        if 'borough' in geoaddress:
            b = geoaddress['borough']
            print('Geo')
        elif 'suburb' in address:
            b = geoaddress['suburb']
            print('Geo')
        else:
            b = None
            print('Geo')
    else:
        pass
    
    if 'neighborhood' in address[2]['types']:
        n = address[2]['long_name']
    else:
        geoaddress = geolocator((i,j))
        if 'neighbourhood' in geoaddress: 
            n = geoaddress['neighbourhood']
        elif 'residential' in geoaddress:
            n = geoaddress['residential']
        elif 'town' in geoaddress:
            n = geoaddress['town']
        elif 'city_district' in geoaddress:
            n = geoaddress['city_district']
        else: 
            n = None  
    Borough.append(b)
    Neighborhood.append(n) 
    print(b,n,k)

Gmap
bronx Marble Hill 0
Gmap
bronx Hudson Hill 1
Gmap
bronx Spuyten Duyvil 2
Gmap
bronx Spuyten Duyvil 3
Gmap
bronx Spuyten Duyvil 4
Gmap
manhattan Inwood 5
Gmap
bronx Hudson Hill 6
Gmap
bronx Hudson Hill 7
Gmap
bronx North Riverdale 8
Gmap
bronx Spuyten Duyvil 9
Gmap
bronx Hudson Hill 10
Gmap
bronx Spuyten Duyvil 11
Gmap
bronx North Riverdale 12
Gmap
bronx Spuyten Duyvil 13
Gmap
bronx Hudson Hill 14
Gmap
bronx Hudson Hill 15
Gmap
bronx Hudson Hill 16
Gmap
manhattan Inwood 17
Gmap
bronx Spuyten Duyvil 18
Gmap
bronx Spuyten Duyvil 19
Gmap
bronx North Riverdale 20
Gmap
bronx North Riverdale 21
Gmap
bronx Spuyten Duyvil 22
Gmap
bronx Riverdale 23
Gmap
manhattan Inwood 24
Gmap
bronx Hudson Hill 25
Gmap
bronx Kingsbridge 26
Gmap
bronx Hudson Hill 27
Gmap
manhattan Fort George 28
Gmap
bronx Hudson Hill 29
Gmap
bronx Riverdale 30
Gmap
bronx Spuyten Duyvil 31
Gmap
manhattan Inwood 32
Gmap
bronx Hudson Hill 33
Gmap
bronx Hudson Hill 34
Gmap
bronx Spuyten Duyvil 35

KeyboardInterrupt:

After a long and tedious process the reverse geolocator has managed to get the neighborhood and borough, some are relagated to their nearby neighborhoods or district locators couldn't get it.

In [ ]:
new_clean_df = clean_df

In [ ]:
new_clean_df['Neighborhood'] = Neighborhood
new_clean_df['Borough'] = Borough

In [ ]:
new_clean_df[new_clean_df['Neighborhood'].isnull()]

In [ ]:
new_clean_df['Neighborhood'].iloc[8091] = 'Central Park'
new_clean_df['Neighborhood'].iloc[9111] = 'Stuyvesant Town'
new_clean_df['Neighborhood'].iloc[35288] = "Hell's Kitchen"
new_clean_df['Neighborhood'].iloc[35291] = "Hell's Kitchen"

In [ ]:
new_clean_df[new_clean_df['Borough'].isnull() | new_clean_df['Borough']  == 'New York']

In [ ]:
new_clean_df.head()

In [ ]:
for index,row in new_clean_df[new_clean_df['Borough'].isnull()].iterrows():
    print(index,row)

I need to check for all incorrect Borough namings and correct them to essential 5 boroughs

In [ ]:
new_clean_df.Borough.unique()

In [ ]:
incorrect_borough = ['New York', None, 'Manhattan', 'new york',
       'New york', 'Neponsit', 'Far Rockaway',
       'Washington Heights', 'Avenue', 'NEW YORK',
       'Yonkers', 'Rosedale', '350w42ndst', 'West 156th', 'Street',
       'New York CIty', 'New York City', 'West', 'NY', 'Long Island City',
       'East Elmhurst', 'Astoria', 'Bayside', 'Beechhurst', 'Great Neck',
       'Flushing', 'FLUSHING', 'Forest Hills', 'Kew Gardens', 'Hollis',
       'Jamaica', 'Oakland Gardens', 'Bellerose', 'Queens Village',
       'Springfield Gardens', 'Woodhaven', 'Howard Beach', 'new York',
       'East 52nd Street', 'Jackson Heights', 'College Pt', 'South',
       'REGO PARK', 'Woodside', 'Elmhurst', 'Maspeth', 'Rego Park']

In [ ]:
incorrect_borough_df = new_clean_df[new_clean_df.Borough.isin(incorrect_borough)]

In [ ]:
for i in incorrect_borough_df.index:
    lat = new_clean_df.iloc[i].latitude
    long = new_clean_df.iloc[i].longitude
    coordinates = f"{lat},{long}"
    url = f"{baseurl}{coordinates}{key}"
    address = requests.get(url).json()['results'][0]['address_components']
    maybe_borough1 = address[1]['long_name']
    maybe_borough2 = address[2]['long_name']
    maybe_borough3 = address[3]['long_name']
    if maybe_borough1.lower() in nyc_boroughs:
        new_clean_df['Borough'] = maybe_borough1
    elif maybe_borough2.lower() in nyc_boroughs:
        new_clean_df['Borough'] = maybe_borough2
    elif maybe_borough3.lower() in nyc_boroughs:
        new_clean_df['Borough'] = maybe_borough3
    else:
        new_clean_df['Borough'].iloc[i] = None
    print(i)

In [ ]:
%%time
for i, j, k in zip(np_latitude, np_longitude, np_index):
    coordinates = f"{i},{j}"
    url = f"{baseurl}{coordinates}{key}"
    address = requests.get(url).json()['results'][0]['address_components']
    maybe_borough1 = address[1]['long_name']
    maybe_borough2 = address[2]['long_name']
    maybe_borough3 = address[3]['long_name']
    maybe_borough4 = address[4]['long_name']
    if maybe_borough1.lower() in nyc_boroughs:
        b = maybe_borough1
    elif maybe_borough2.lower() in nyc_boroughs:
        b = maybe_borough2
    elif maybe_borough3.lower() in nyc_boroughs:
        b = maybe_borough3
    elif maybe_borough4.lower() in nyc_boroughs:
        b = maybe_borough4
    else:
        b = None
    new_clean_df['Borough'].iloc[k] = b

In [ ]:
new_clean_df['Borough'].value_counts()

In [ ]:
new_clean_df

In [ ]:
print(new_clean_df.iloc[i].Borough)

There are still some missing data but we can fix this, for neighborhoods we will revist the georelocator and have that impute the neighborhoods and for the Borough there seems to be a common issue, for a lot of the bronx county, broadchannel and staten island they did not get the Borough right we can simply assign it

In [ ]:
for i  in new_clean_df[new_clean_df['Neighborhood'].isnull()].index:
    coordinates = (new_clean_df['latitude'][i],new_clean_df['longitude'][i])
    address = geolocator(coordinates)
    if 'neighbourhood' in address:
        new_clean_df['Neighborhood'][i] = address['neighbourhood']
    elif 'residential' in address:
        new_clean_df['Neighborhood'][i] = address['residential']
    elif 'city_district' in address:
        new_clean_df['Neighborhood'][i] = address['city_district']
    else:
        continue

In [ ]:
new_clean_df[new_clean_df['Borough'].isnull()]['Neighborhood'].value_counts()

In [ ]:
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['Neighborhood'] == 'Bronx County')] = 'Bronx'
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['Neighborhood'] == 'Broad Channel')] = 'Queens'
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['Neighborhood'] == 'Staten Island')] = 'Staten Island'

In [ ]:
new_clean_df['City'][new_clean_df['Borough'].isnull()].value_counts()

In [ ]:
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['City'] == 'Staten Island')] = 'Staten Island'
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['City'] == 'Staten island')] = 'Staten Island'
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['City'] == 'staten Island')] = 'Staten Island'
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['City'] == 'Brooklyn')] = 'Brooklyn'
new_clean_df['Borough'][(new_clean_df['Borough'].isnull()) & (new_clean_df['City'] == 'Bronx')] = 'Bronx'

In [ ]:
new_clean_df['Borough'][(new_clean_df['Borough'].isnull())] = 'Queens'

Now we are complete with our missing data for Borough and Neighborhoods unfortunately for a lot of the observations we couldn't get the exact neigborhood so we had to settle for its city district. Lets save our final DataFrame so we don't have to re-do all that geolocating

In [ ]:
#Just making labels consistent
new_clean_df['Borough'][new_clean_df['Borough'] == 'The Bronx'] = 'Bronx'

In [ ]:
new_clean_df = new_clean_df.drop('State', axis=1)

In [ ]:
columns_rearrange = ['City',
 'Borough',
 'Neighborhood',
 'address/streetAddress',
 'ZipCode',
 'latitude',
 'longitude',
 'price',
 'propertyTaxRate',
 'Annual_Tax',
 'Tax_Assessed_Value',
 'Lot_Size(SqFT)',   
 '$_Per_SqFT',
 'LivingArea_Space(SqFT)',
 'HomeType',
 'YearBuilt',
 'Bedrooms',
 'Total_Bathrooms',
 'Full_Bathrooms',
 'Half_Bathrooms',
 'ParkingType',
 'Basement',
 'Cooling_Available',
 'Fireplace_Available',
 'Heating_Available',
 'Spa_Available',
 'Story_Building']

In [ ]:
new_clean_df = new_clean_df[columns_rearrange]

In [ ]:
new_clean_df

In [ ]:
final_nyc = new_clean_df.reset_index(drop=True)

In [ ]:
final_nyc.shape
#This is our final Dataframe with 59350 oberservaations and 27 variables

In [ ]:
final_nyc.to_csv(r'C:\Users\izine\Desktop\GitHub\Springboard-Data-Science\Capstone 1\Data\final_nyc.csv', index=False)

### 1.6.6 Distributions<a id='1.6.6_Distribution'></a>

### 1.6.6.1 Number of distinct neighborhoods<a id='1.6.4_Number_of_distinct_neighborhoods'></a>

In [ ]:
#Well that took forever we can see that there are 57 distinct neighborhoods while a lot of the neighborhoods are missing 
#due our api not able to properly provide a neighborhood, we labeled them under their county district. 
#There are 260 distinct neighborhoods given that we seperate their Historic district 
Counter(Neighborhood).most_common()

### 1.6.6.2 Distribution Of Housing Price By Borough<a id='1.6.6.2_Distribution_Of_Housing_Price_By_Borough'></a>

In [ ]:
house_prices_neighborhood = final_nyc[['Neighborhood','price']].groupby('Neighborhood', as_index=False).mean().round()
house_prices_borough = final_nyc[['Borough','price']].groupby('Borough', as_index=False).mean().round()
print(house_prices_borough)
print(house_prices_neighborhood)

In [ ]:
#This is a function by Dan Friedman to change the labels of large numbers 
#Here is a link
#https://dfrieds.com/data-visualizations/how-format-large-tick-values.html
sns.set(font_scale=1.4)

def reformat_large_tick_values(tick_val, pos):
    """
    Turns large tick values (in the billions, millions and thousands) such as 4500 into 4.5K and also appropriately turns 4000 into 4K (no zero after the decimal).
    """
    if tick_val >= 1000000000:
        val = round(tick_val/1000000000, 1)
        new_tick_format = '{:}B'.format(val)
    elif tick_val >= 1000000:
        val = round(tick_val/1000000, 1)
        new_tick_format = '{:}M'.format(val)
    elif tick_val >= 1000:
        val = round(tick_val/1000, 1)
        new_tick_format = '{:}K'.format(val)
    elif tick_val < 1000:
        new_tick_format = round(tick_val, 1)
    else:
        new_tick_format = tick_val

    # make new_tick_format into a string value
    new_tick_format = str(new_tick_format)
    
    # code below will keep 4.5M as is but change values such as 4.0M to 4M since that zero after the decimal isn't needed
    index_of_decimal = new_tick_format.find(".")
    
    if index_of_decimal != -1:
        value_after_decimal = new_tick_format[index_of_decimal+1]
        if value_after_decimal == "0":
            # remove the 0 after the decimal point since it's not needed
            new_tick_format = new_tick_format[0:index_of_decimal] + new_tick_format[index_of_decimal+2:]
            
    return new_tick_format

In [ ]:
#Lets bar plot the average price of houses by thier boroughs 
plt.subplots(figsize=(12, 8))
sns.barplot(x='Borough', y='price', data=house_prices_borough)
plt.xticks(rotation='vertical')
plt.ylabel('Average Price($)')
plt.xlabel('Borough')
plt.ticklabel_format(style='plain', axis='y')
ax = plt.gca()
ax.yaxis.set_major_formatter(tick.FuncFormatter(reformat_large_tick_values));

Lets look at prices distribution for neighborhoods in Manhatthan

In [ ]:
Manhattan_neighborhood = final_nyc[final_nyc['Borough'] == 'Manhattan']
manhattan_house_prices_neighborhood = Manhattan_neighborhood[['Neighborhood','price']].groupby('Neighborhood', as_index=False).mean().round()
plt.subplots(figsize=(12, 8))
sns.barplot(x='Neighborhood', y='price', data=house_prices_neighborhood)
plt.xticks(rotation='vertical')
plt.ylabel('Average Price($)')
plt.xlabel('Manhattan_Neighborhoods')
plt.ticklabel_format(style='plain', axis='y')
ax = plt.gca()
ax.yaxis.set_major_formatter(tick.FuncFormatter(reformat_large_tick_values));

In [ ]:
final_nyc[final_nyc['Borough'] == 'Manhattan']

In [ ]:
# house_prices_neighborhood = final_nyc[['Neighborhood','price']].groupby('Neighborhood', as_index=False).mean().round()
# plt.subplots(figsize=(12, 8))
# sns.barplot(x='Neighborhood', y='price', data=house_prices_neighborhood)
# plt.xticks(rotation='vertical')
# plt.ylabel('Average Price($)')
# plt.xlabel('Neighborhoods')
# plt.ticklabel_format(style='plain', axis='y')
# ax = plt.gca()
# ax.yaxis.set_major_formatter(tick.FuncFormatter(reformat_large_tick_values));

## 1.7 Neighborhood Summary Statistics <a id='1.7_Neighborhood_Summary_Statistics'></a>

In [ ]:
neighborhood_summary = final_nyc.groupby('Neighborhood').agg(
    houses_in_neighborhood = pd.NamedAgg(column='Neighborhood', aggfunc='count'),
    average_price = pd.NamedAgg(column='price', aggfunc='mean'),
    average_bedrooms = pd.NamedAgg(column='Bedrooms', aggfunc='mean'),
    average_bathrooms = pd.NamedAgg(column='Total_Bathrooms', aggfunc='mean'),
    average_stories_of_buidling = pd.NamedAgg(column='Story_Building', aggfunc='mean')
)

In [ ]:
neighborhood_summary['average_price'] = round(neighborhood_summary['average_price'])
neighborhood_summary['average_bedrooms'] = round(neighborhood_summary['average_bedrooms'])
neighborhood_summary['average_bathrooms'] = round(neighborhood_summary['average_bathrooms'])
neighborhood_summary['average_stories_of_buidling'] = round(neighborhood_summary['average_stories_of_buidling'])

neighborhood_summary

## 1.8 Save Data <a id='1.8_Save_Data'></a>

In [ ]:
#Lets see what our new dataframe looks like
final_nyc.info()
final_nyc.shape

In [ ]:
final_nyc.to_csv(r'C:\Users\izine\Desktop\GitHub\Springboard-Data-Science\Capstone 1\Data\final_nyc_cleaned.csv', index=False)

## 1.9 Summary <a id='1.9_Summary'></a>

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
profile = ProfileReport(final_nyc, title='Pandas Profiling Report', explorative=True)
profile

We are tasked to best estimates prices for houses being built by Capital Fortune real-estate company, who are building houses in NY. We extracted data from the nyc_housing data from zillow. We need to build a predictive model which can best estimate prices for the houses given the NYC market. 

We started by inspecting our original dataframe which had over 75k rows and 1507 columns, we began to start cleaning our data as a lot of our columns which were not relevant or repeated information of other columns. We needed to isolate the dataframe for our target location which is New York City so we filtered our nyc dataframe to all address which resided in NYC as there were some observations which resided in other states. 

Next step was to clean up some of the data types for our columns, unfortunately there were a lot of missing data or irrelevant variables to counter-act we either dropped those columns or imputed data to some important columns. For instance we change our column type of Has_Basement to True or False to simplify this feature. our column names were quite un-intuitive from the original datafile so we relabeled a lot of them for more readable names.  

We noticed there were a lot fo houses which were sold for prices far below their market value for instance a million dollar house was sold for 5000, these are cases where family members sell their property to other family and friends to change ownership and etc. So we excluded these houses, the opposite was also the case there were few observations where their price was 100 million and above we realized a lot of the hometype labeled vacant land were lots for large office space and warehouses behind sold, as these properties does not relate to houses being built by Capital Fortune we ommited these as well. 

We wanted to do an analysis on neighborhoods in NYC and how their prices differ so we utilized a geolocator to reverse geocode neighborhoods using latitudes and longitudes which was in our dataframe. One issue was a lot of neighborhood in the NYC was not coming up in our API so we left them as their city district thus why they have the largest number of rows. 

Reverse geolocation was a interesting idea but the time it takes to process is unbearable, as we are capped to one requests per second with our API, it took hours to finish our neighborhood look up. But once we gathered all the neighborhoods via its latitude and longitude we were able to see how the average price of their houses were distributed for each neighborhood. We also peeked into some neighborhood summary.

While this was a cleaning of the data I believe we better fine tune our data and perphaps impute more missing data based on better classification rather than just using the average.